# X-Inactivation Analysis

Detection of X-inactivation via differential variance

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scanpy.api as sc
import scipy as sp
import itertools
import numpy as np
import scipy.stats as stats
from scipy.integrate import dblquad
import seaborn as sns
import imp
import time

/anaconda3/envs/scvi/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [2]:
import sys
sys.path.append('/Users/mincheolkim/Github/scrna-parameter-estimation/simplesc')
import simplesc

In [3]:
data_path = '/Users/mincheolkim/Google Drive/UCSF/research/parameter_estimation/x_inactivation_data/'

### Read Lupus dataset

Output of the preprocess notebook.

In [4]:
adata = sc.read(data_path + 'clues_data.h5ad')

### Create groups

In [6]:
adata.obs['ct_ind'] = adata.obs['ct_cov'].astype(str) + ' - ' + adata.obs['ind_cov'].astype(str)

In [7]:
adata.obs['ct_sex'] = adata.obs['ct_cov'].astype(str) + ' - ' + adata.obs['female'].astype(str)

In [27]:
adata.obs.head(3)

,batch,batch_cov,ct_cov,disease_cov,ind_cov,pop_cov,well,female,ct_ind,ct_sex
index,,,,,,,,,,
AAACCTGAGTGCAAGC-1-0-0-0-0-0-0-0-0-0,0,lupus8.16,CD8 T cells,sle,1597_1597,ASIAN,YE_8-16-1,1,CD8 T cells - 1597_1597,CD8 T cells - 1
AAACCTGCAAGGCTCC-1-0-0-0-0-0-0-0-0-0,0,lupus8.16,CD4 T cells,sle,1597_1597,ASIAN,YE_8-16-1,1,CD4 T cells - 1597_1597,CD4 T cells - 1
AAACCTGCACGACTCG-1-0-0-0-0-0-0-0-0-0,0,lupus8.16,CD8 T cells,sle,1597_1597,ASIAN,YE_8-16-1,1,CD8 T cells - 1597_1597,CD8 T cells - 1

### Select individuals and cell types of interest

In [34]:
ind_list

[5135, 4815, 4802, 7794, 7697, 6142]

In [23]:
# Top 3 males and females with the most number of cells
ind_list = \
    adata.obs.query('female == "0"').ind_cov.value_counts().index.tolist()[:3] + \
    adata.obs.query('female == "1"').ind_cov.value_counts().index.tolist()[:3]

In [24]:
ct_list = [
    'CD4 T cells',
    'B cells', 
    'CD14+ Monocytes'
]

### Fit model

In [25]:
estimator = simplesc.SingleCellEstimator(adata, p=0.1, group_label='ct_ind')

In [30]:
ct

'CD4 T cells'

In [33]:
ind

5135

In [32]:
ct + ' - ' + ind

TypeError: must be str, not int

In [31]:
for ct in ct_list:
    for ind in ind_list:
        estimator.compute_observed_statistics(group=(ct + ' - ' + ind))

TypeError: must be str, not int

In [ ]:
for ct, ind in itertools.estimator.compute_observed_statistics(group='CD4 T cells - ctrl')